<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间，和接口关联-->
<mapper namespace="net.wanho.mapper.StuVOSubMapper">


    <insert id="addStuAndSub">
        insert into stu_subject  values (#{id},#{subjectId});
    </insert>
</mapper>